.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
}


.hamburger {
  padding: 12px;
  border-radius: 5px;
  border: 3px solid rgb(225 218 218);
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
}

.hamburger:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

.bi-list {
  font-size: 20px;
  display: block;
  color: white;
  margin: 0;
  line-height: 1;
}