.product-card {
  transition: transform 0.2s ease-in-out;
  max-height: 400px;
}

.product-card:hover {
  transform: translateY(-2px);
}

.product-image-container {
  overflow: hidden;
  position: relative;
  height: 200px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    height: 220px;
  }
  
  @media (min-width: 1024px) {
    height: 240px;
  }
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-image:hover {
  transform: scale(1.05);
}

.product-description {
  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4;
  max-height: 2.8em;
}